{% extends 'base.html' %}

{% block content %}
  <h2>Add Expenditure Initial Balance</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <ul>
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
