{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="mt-5">Create Item</h1>
  <form method="post" class="mt-3">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_name" class="form-label">Name</label>
      {{ form.name }}
    </div>
    <div class="mb-3">
      <label for="id_category" class="form-label">Category</label>
      {{ form.category }}
    </div>
    <button type="submit" class="btn btn-primary">Create Item</button>
  </form>
</div>
{% endblock %}
