{% extends 'base.html' %}

{% block title %}non teaching staffs{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'non-staff-create' %}"><i
    class="fas fa-plus"></i> New non teaching staff</a>
{% endblock breadcrumb %}

{% block content %}
  <table id="nonstafftable" class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>S/N</th>
        <th>Fullname</th>
        <th>Gender</th>
        <th>Mobile Phone Number</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      {% for non_staff in object_list %}
        <tr class='clickable-row' data-href="{% url 'non-staff-detail' non_staff.id %}">
          <td>{{ forloop.counter}}</td>
          <td> {{non_staff.firstname }} {{non_staff.other_name }} {{ non_staff.surname}} </td>
          <td>{{ non_staff.get_gender_display}}</td>
          <td>{{ non_staff.mobile_number}}</td>
          <td>{{ non_staff.get_current_status_display}}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}


{% block morejs %}
<script>
   $('#nonstafftable').DataTable({
    select: false
    });
</script>

{% endblock morejs %}
