{% extends base_template %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mb-4">Delete Property</h1>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Name: {{ property.name }}</p>
                    <p class="card-text">Quantity: {{ property.quantity }}</p>
                    <p class="card-text">Description: {{ property.description }}</p>
                    <form action="{% url 'delete_property' pk=property.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}